
.wrapper {
  padding-top: 30px;
}

.navbar-toggler {
  border-color: #000500;
  height: 50px;
}

.nav-wrap {
  height: 7rem;
}

nav {
  background-color: #000500;
  }

body h3 {
  margin-bottom: 25px;
}

body {
  color: white;
  background-color: green;
}

.card {
  background-color: #000500;
  border: 1px solid #000500;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-nav a {
  background-color: #000500;
}

.navbar-brand a {
  color: #ffffff;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 700px;
}


.map-container {
  height: 100%;
  width: 100%;
}

.location-container {
  height: 50vh;
  width: 100%;
}

.map-main {
  height: 100vh;
  width: 100%;
}

svg {
  fill: blue;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

svg:hover {
  fill: red;
  cursor: pointer;
  transition: fill 0.2s;
}

.sticky-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.edit-link {
  text-decoration: none;
  padding: 6.5px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  flex-wrap: wrap;
}

.filter-bar > * {
  flex-basis: 50%
}

.btn-flat:hover {
  background-color: #2979ff;
  color: black;
}

@media screen and (max-width: 768px) {
  .filter-bar > * {
    flex-basis: 50%; /* Set the initial width of each item to 50% */
  }
}

.info-box {
  position: absolute;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.marker:hover .info-box {
  transform: none;
  opacity: 1;
}

.map-card-list {
    z-index: 1;
    position: absolute;
    top: 120px;
    right: 10px;
    background-color: white;
    width: 30%;
    height: 80%;
    opacity: 0.2;
    transition: opacity 0.2s;
    border-radius: 5px;
}


@media (max-width: 768px) {
  .map-card-list {
    width: 100%;
    position: relative;
    opacity: 1;
    height: 50%;
    padding: 20px;
    background: black;
  }
}

.map-card-list:hover {
    transition: opacity 0.2s;
    opacity: 1;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {display:none;}


.App-logo {
  height: 5vmin;
  pointer-events: none;
}

a {
  background-color: #000500;
  text-decoration: none;
}

input {
  background-color: #000500;
  color: white;
}

.container {
  display: flex;
  width: 100%;
}

.share {
    /* width: 70%; */
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px rgba(34,76,150,0.82);
    -webkit-box-shadow: 0px 0px 11px 3px rgba(34,76,150,0.82);
    -moz-box-shadow: 0px 0px 11px 3px rgba(34,76,150,0.82);
    padding: 10px;
    margin: 15px;
  }

.comment {
    /* width: 30%; */
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px rgba(34, 76, 150, 0.82);
    -webkit-box-shadow: 0px 0px 11px 3px rgba(34, 76, 150, 0.82);
    -moz-box-shadow: 0px 0px 11px 3px rgba(34, 76, 150, 0.82);
    padding: 10px;
    margin: 15px;
    position: relative;
    flex: 0 0 25%;
  }

.comment input {
  position: absolute;
  bottom: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 91%;
}

@media only screen and (max-width: 992px)  {
.comment input {
      position: relative;
      margin: auto;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      padding-top: 20px;
  }
}
  
  .shareWrapper {
    padding: 10px;
    /* height:90vh; */
  }
  
  .shareTop {
    display: flex;
    align-items: center;
  }
  
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
f
  .cmntProfileImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .comments {
    font-size: x-small;
  }
  
  .shareInput {
    border: none;
    width: 5%;
  }
  
  .shareInput:focus {
    outline: none;
  }
  
  .shareHr {
    margin: 10px;
    color: white;
  }
  
  .shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .fade:not(.show) {
    opacity: 1;
  }

  .comment-container
  {
    height: 90vh;
    overflow: auto;
  }
 
  
  .shareOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
  }
  
  .shareIcon{
      font-size: 18px;
      margin-right: 3px;
  }
  
  .shareOptionText{
      font-size: 12px;
      font-weight: 400;
  }
  
  .shareButton{
      border: none;
      padding: 8px;
      border-radius: 8px;
      background-color: #2979FF;
      font-weight: 400;
      margin-right: 20px;
      cursor: pointer;
      color: white;
  }

  .postImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
    justify-content: center;
    
}

.postText{
  color: white;
  font-size: 14px;
  margin-left: 8px;
}

